.dynamicformparent{
position: absolute;
top:0;
height: 100%;
width: 100%;
background-color: white;
border: 1px solid;
padding: 10px 15px;
}


    .karthi{
        background-color:gold ;
        padding: 14px 14px;
        border-radius: 10px;
width: 100%;
    }
    .passengernamediv{
        display: flex;
        flex-direction: column;
        width: 100%;    

    }
    .passengernamediv input{
        padding: 6px 6px;
        border-radius: 5px;
        border:1px gray;
margin-top: 10px;
width: 100%;    
}
.age-gender-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: red; */
}

.age{
    color: blue;
    display: flex;
    flex-direction: column;
    padding: 10px 1px;
}
.age input{
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;

}
.genderParent{
display: flex;
flex-direction: column;
align-items: center;
}
.genderSections{
    display: flex;
justify-content: space-between;
padding: 10px 5px;
border: 1px solid red;
}
.genderSection-male p{
padding: 0 10px;
}
.genderSection-female{
    padding: 0 10px;
}
.select{
background-color: red;
color: white;
}