
.seatcontainer{
    padding: 30px 15px;
    position: relative;
}
       
.seatContainer-child{
    display: flex;
    justify-content: space-between;
padding: 20px 10px;
border: 1px solid;
border-radius: 10px;
width: 100%;
}
.seaticon{
    font-size:2em;

}


.section2child,.section1child {
    width: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Adjust spacing between columns and rows */
}
.seaticondiv {
    text-align: center; /* Center align icons */
    /* background-color: yellowgreen; */
}

/* .seatsection1,.seatsection2{
    display: flex;
    flex-wrap: wrap;
} */
.seaticondiv{
    width: 30%;
}
.seatsection1{
    padding-left:10px;
}
.selected{
    background-color: grey;
}
.seatParent{
    border: 1px solid;
    padding: 5px 5px;
    border-radius: 3px;
}
.totalSeats{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 2px 15px;

}
.totalSeats p{
    padding: 10px 10px;
}
.person{
    margin-top: 10px;
    font-size: 30px;
}
.seatCount{
    font-size: 20px;
}
.totalSeats-child{
    display: flex;
border: 1px solid;
border-radius: 3px;
}
.addpersonbtn{
display: flex;
width: 100%;
justify-content: center;
/* background-color: red; */
padding: 10px 10px;
}
.addpersonbtn button{
    width: 100%;
    padding: 10px 10px;
    border-radius:10px;
    border: none;
    color:whitesmoke;
    background-color: red;
}
